<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- Gabriel Perez Regalado -->
  <ion-card>
    <iframe src="https://youtu.be/OyubTr8G3Cs"></iframe>
    <ion-card-header>
      <ion-card-title>Mi video</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      En este video explico mi experiencia acerca de cómo realicé esta tarea, y que tanto esfuerzo tuve que dedicarle para poder lograrlo.😊
    </ion-card-content>
  </ion-card>

  


</ion-content>
