<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sumadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <!-- Gabriel Perez Regalado -->
    <ion-card-header>
      <ion-card-subtitle>Te ayudamos a sumar</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Numero 1" labelPlacement="floating" 
          [(ngModel)]="num1"
          type="number"
          placeholder="Ingrese un valor"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input label="Numero 2" labelPlacement="floating" 
          [(ngModel)]="num2"
          type="number"
          placeholder="Ingrese un valor"></ion-input>
        </ion-item>
  
        <!-- Gabriel Perez Regalado -->
          <ion-button 
          (click)="sumar()"
          shape="round" expand="block">Sumar</ion-button> 
        
  
        <ion-item lines="none">
          Resultado: {{resul}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
