<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Traductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>El numero en letras</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Numero 1" labelPlacement="floating" 
          [(ngModel)]="num1"
          type="number"
          placeholder="Ingrese un valor"></ion-input>
        </ion-item>

        <ion-button
        (click)="traducir()"
        expand="block">Traducir</ion-button>

        <ion-item lines="none">
          Resultado: {{resultado}}
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
